.custom-navigation-bar {
  background-color: transparent !important; /* Set background to transparent */
  border: 2px solid #e8e4e6; /* Set border color to white */
}

.nav-link {
  color: white !important; /* Set text color to white */
}

#first {
  position: relative; /* Set the position to relative for the parent */

  height: 200px; /* Set the width to ensure the image stays within it */
  overflow: hidden; /* Hide any content that goes beyond the #first's width */
}
#first img {
  position: absolute; /* Set the position to absolute for the image */
  top: 0; /* Position the image at the top of the parent */
  z-index: 2; /* Set a higher z-index value to make the image appear above the text */
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 > img {
  animation: moving 6s infinite;
  animation-timing-function: linear;
}

@keyframes moving {
  from {
    left: 0%;
  }
  to {
    left: 70%;
  }
}
body {
  background: rgb(235, 99, 159);
  background: linear-gradient(90deg, #006663 0%, #111111 100%);
}
.btn-custom {
  background-color: #f9bc60;
  color: #001e1d;
  font-family: "Merriweather", serif;
}
.btn-custom:hover {
  background-color: #e19d38;
  color: #001e1d;
}
.btn-custom:active {
  color: #001e1d !important;
  background: rgb(235, 99, 159);
  border: 1px solid white !important;
  background-image: linear-gradient(#e19d38, #e0ab5b);
}

#first > .flex-container-column > h1 {
  font-size: 5rem;
  color: #fffffe;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
}
#first > .flex-container-column > p {
  font-size: 2.75rem;
  color: #abd1c6;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
}
#technologies-i-love > .flex-container-column > h1 {
  font-size: 5rem;
  color: #fffffe;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
}
#technologies-i-love > .flex-container-column > p {
  font-size: 2.75rem;
  color: #abd1c6;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
}
#second > div > img {
  border-radius: 50%;
}

#second > div > h3 {
  font-size: 2rem;
  color: #abd1c6;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
}
ul > li > a {
  font-family: "Merriweather", serif;
}
p {
  color: #abd1c6;
  text-align: center;
  font-family: "Merriweather", serif;
}
#skills > div > h3 {
  font-size: 2rem;
  color: #abd1c6;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
}

a:hover {
  background-color: #095350;
  border: 1px solid white;
}
a:active {
  background-color: #095350;
  border: 1px solid white;
}

#second > div > img:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 15px #226260;
}

footer {
  padding: 15px;
}
footer > div > a {
  color: white !important;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.3rem;
  padding: 6px;
  text-decoration: none;
}
.flex-container-row {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;
}
hr {
  border-top: 3px solid #317c7a;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px 10px;
  place-items: center;
  justify-content: space-around;
}
.item {
  width: 200px;
  height: 200px;
}
@media (max-width: 880px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.hobbies-list > li {
  list-style: none;
  font-size: 1.7rem;
  font-family: "Pixelify Sans", sans-serif;
  color: #abd1c6;
}
.back-more {
  grid-area: 2/2/3/4;
}
